*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100px;
 background-color: #263859;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#temp{
    text-align: center;
}
#temp #temp-unit{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
}
#temp #temp-value{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
}
#climate{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}
#location{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

#temp-icon{
    margin: 1rem;
    width: 40%;
    height: auto;
}

main{
    padding: 20px;
    margin-top: 10px;
    background-color: #6b778d9c;
    border-radius: 20px;
    width: 370px;
    height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px #1b2841;
}

#button{
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    border-radius: 5px;
    margin-left: 5px;
    padding: 7px 11px;
    border-radius: 2px solid #494949;
    display: inline-block;
    border-radius: 6px;
    transition: all 0.3s ease ;
}

#button:hover{
    color: white;
    background-color: teal;
    border: 2px solid teal;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: 10px 10px 20px 10px #1e2d4788;

}

#search-input{
    width: 260px;
    overflow: hidden;
    margin: 8px 0;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 3px solid teal;
    color: white;
    outline: none;
    background: none;
}

input{
    border: none;
}

